html {
    background-color: black;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 700px;
    height: 600px;
}

header {
    font-style: italic;
    font-size: larger;
    color: white;
}

h2 {
    color: red;
}

ul {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: blue;
}

ol {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: blue;
}