body {
    background-color: #04000A;
}
.title {
    display: block;
    margin: 0%auto;
    text-align: center;
    font-family: 'Bungee Spice', sans-serif;
    font-size: larger;
}

.image {
    display: block;
    margin: 0%auto;
    text-align: center;
 }

.header {
    display: block;
    margin: 0%auto;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    color: #EDE1FF;
}

.ingredients {
    display: block;
    margin: 5px;
    padding: 20px;
    color: #6902F7;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.steps {
   margin: 5px;
   padding: 20px;
   color: #6902F7;
   font-size: larger;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}