.title {
    font-family: 'Bungee Spice', sans-serif;
    margin: auto;
    width: 20%;
    font-size: larger;
    }

.recipes {
    text-decoration: none; 
      border: 10px solid #007bff; 
      margin: auto;
      padding: 5px 10px; 
      color: #007bff; 
      border-radius: 50px; 
      display: inline-block; 
      justify-content: center;
      align-items: center;
      display: flex;
    }